
/* 헤더 */
#wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#header {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    color: white;
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #EEEEEE;
}

#header img {
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-right: 102px;
    width: 130px;
    height: 40px;
}

#header .nav-item{
    font-size: 13px;
    font-weight: bold;
    background-color: #203883;
    padding: 1px;
    border-radius: 5px;
}

#header .nav-item a.nav-link.custom-text {
    color: white;
}

#container {
    display: flex;
    flex: 1;
}


/* 사이드 바 */
#sidebar {
    background-color: #ffffff;
    padding: 10px;
    width: 200px;
    border-right: 1px solid #EEEEEE;
}

#sidebar .nav-link {
    width: 161px;
    height: 56px;

    margin-top: 20px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    padding: 13px;
    border: 1px solid #203883;
    border-radius: 5px;
    color: #203883;
    background-color: #ffffff;
    font-weight: bold;
    box-shadow: 2px 3px 5px rgba(37, 37, 37, 0.1);
}

#sidebar .nav-link i {
    color: #203883; 
    margin-right: 10px;
    margin-left: 9px;
}


/* 컨텐츠 */
#content {
    flex: 1;
    padding: 10px;
    background-color: #FBFBFB;
}

#content h4 {
    font-weight: bold;
    margin-top: 40px;
    margin-left: 60px;
}

/* 컨텐츠 박스 1 */
#container1 {
    margin-top: 60px;
    margin-left: 60px;
    width: 1280px;
    height: 84px;
    border: 2px solid #EEEEEE;
    background-color: #ffffff;
    border-radius: 0.5em;
    display: flex;
    align-items: center;
    color: #212529;
}

#container1 .search-box {
    display: flex;
    align-items: center;
}

#container1 h4{
    color: #212529;
}

#container1 h7{
    margin-left: 44px;
    margin-right: 38px;
    font-weight: bold;
    color: #212529;
}

#container1 select[name="option"]{
    width: 180px;
    height: 36px;
    margin-right: 12px;
    border-radius: 0.5em;
    border: 2px solid #EEEEEE;
    font-weight: bold;
    font-size: 13px;
    color: #212529;
    padding: 5px 10px;
    cursor: pointer;

}

/* #container1 select[name="option"]:after{
    content: '';
    display: block; 
    width: 2px;
    height: 100%; 
    position: absolute; 
    top: 0; 
    right: 35px;
    background: #ffffff;
} */

#container1 .search-box .input-box input{
    width: 220px;
    height: 36px;
    margin-right: 20px;
    border-radius: 0.5em;
    border: 2px solid #EEEEEE;
    font-size: 13px;
    padding: 5px 10px;
}

#container1 .input-box input::placeholder {
    color: #969696;
}

#container1 .button-box .search-button {
    width: 88px;
    height: 36px;
    color: #0F2D6A;
    font-size: 13px;
    font-weight: bold;
    border: 2px solid #0F2D6A;
    border-radius: 0.5em;
    text-align: center;
    padding-top: 6px;
    cursor: pointer;
}

/* 컨텐츠 박스2 */
#container2{
    margin-top: 16px;
    margin-left: 60px;
    width: 1280px;
    height: 211px;
    border: 2px solid #EEEEEE;
    background-color: #ffffff;
    border-radius: 0.5em;
    display: flex;
    align-items: top;
}

#container2 h5{
    margin-top: 35px;
    margin-left: 44px;
    font-weight: bold;
    color: #212529;
}

#container2 .button-box {
    gap: 12px;
    margin-top: 19px;
}

#container2 .button {
    padding: 8px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    border: none;
    border-radius: 0.5em;
}

#container2 .button.register {
    margin-left: 800px;
    width: 130px;
    height: 36px;
    font-size: 13px;
    font-weight: bold;
    background-color: #0F2D6A;
    color: white;
}

#container2 .button.delete {
    width: 92px;
    height: 36px;
    font-size: 13px;
    font-weight: bold;
    background-color: #FFE0DF;
    color: #DD4B39;
}

/* 꼬리말 */
#footer {
    background-color: #FBFBFB;
    color: #969696;
    padding: 10px;
    width: 86%;
    height: 30px;
    bottom: 28px;
    position: absolute;
}
